.right-sidebar {
    position: sticky;
    top: 80px;
}

.btn.active {
    background-color: var(--sq-533747);
    color: #fff;
    border-color: var(--sq-533747);
}

.search-btn {
    background-color: var(--sq-86BBBD);
    border-color: var(--sq-86BBBD);
    color: #fff;
}

.search-btn:hover {
    background-color: var(--sq-76949F);
    border-color: var(--sq-76949F);
}