.profile-card {
    position: sticky;
    top: 80px;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    background: #E9EEF0;
}

.avatar-initial {
    color: var(--sq-text);
}